@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*:not(.see-scrollbar)::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
